<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body shadow p-3 mb-5 bg-white rounded">
      <h1 class="text-center mb-3" style="color: rgb(65, 78, 255);">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include ("../partials/messages"); %>
      <form action="/doctor/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            placeholder="+61 2 1234 5678"
            value="<%= typeof phone != 'undefined' ? phone : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="Speciality">Speciality</label>
          <input
            type="text"
            id="speciality"
            name="speciality"
            class="form-control"
            placeholder="Please Enter your speciality"
            value="<%= typeof speciality != 'undefined' ? speciality : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            placeholder="Description"
            value="<%= typeof description != 'undefined' ? description : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="starttime">Start Time</label>
          <input
            type="text"
            id="starttime"
            name="starttime"
            class="form-control"
            placeholder="09:00 AM"
            value="<%= typeof starttime != 'undefined' ? starttime : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="endtime">End Time</label>
          <input
            type="text"
            id="endtime"
            name="endtime"
            class="form-control"
            placeholder="End Time"
            value="<%= typeof endtime != 'undefined' ? endtime : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(93, 93, 247);outline: none;border: none;">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/doctor/login">Login</a></p>
    </div>
  </div>
</div>