<div class="container">
    <h2 class="page-title">Appointment</h2>
    <div class="page-detail-card">
        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg" class="border-radius-6 mb-10" width="100" />
        <div><%= appointment[0].doctor.name %></div>
        <p><%= appointment[0].doctor.email %></p>
        <p><%= appointment[0].startTime %> ~ <%= appointment[0].endTime %></p>
        
        <p><%= appointment[0].patient.name %></p>
        <p><%= appointment[0].patient.email %></p>
        <p><%= appointment[0].patient.gender %></p>
    </div>
</div>
<link href="/style.css" rel="stylesheet">
