<a class="go-back" href="javascript:history.back()"> < Back</a>
<div class="container">
    <h2 class="page-title">Appointment</h2>
    <div class="page-detail-card row">
        <div class="mb-10 ">
            <h4>Appoingment</h4>
            <div class="mb-10"><b>Apoointment time: <%= appointment[0].startTime %> ~ <%= appointment[0].endTime %></b></div>
            <div class="">
                <h4>Patient details</h4>
                <div class="row">
                    <div>
                        <div class="card mb-10">
                            <div class="card-body">
                              <h6 class="card-title capitalize"> <%= appointment[0].patient.name %></h6>
                              <div class="card-text"><b>Email :</b><small class="text-muted"> <%= appointment[0].patient.email %></small></div>
                              <div class="card-text mb-10"><b>Gender :</b> <small class="text-muted"><%= appointment[0].patient.gender %></small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Doctor details</h4>
            <h6 class="card-title">Doctor Name: <%= appointment[0].doctor.name %></h6>
            <div class="card-text mb-10"><b>Email :</b><%= appointment[0].doctor.email %></div>
            <% if (prescription.length > 0 ) { %>
                <div class="alert alert-success alert-dismissible fade show bg-white text-black shadow p-3 mb-5 rounded" style="font-family: Bahnschrift SemiBold;text-shadow: 0px 1px 3px rgb(177, 196, 209);" role="alert">
                    <h4 style="color: rgb(51, 133, 136);"><i class="fad fa-prescription" style="color: rgb(51, 133, 136);"></i> - Prescription details:</h4>
                    <hr>
                    <p style="font-size: medium;"><%= prescription[0].medicine %></p>
                </div>
            <%} %>

            <% if(appointment[0].state == "done"){%>
                    <a href="/review/getAppointment?id=<%= appointment[0]._id %>" class="btn btn-primary">Rate And Review</a>
            <%} %>
        </div>
    </div>
</div>
<link href="/style.css" rel="stylesheet">
